<!--  We have used the template for header from this website and modified the code to suit our application. -->
<!--  Source: http://tutorialzine.com/2015/02/freebie-7-responsive-header-templates/  (Quiz Template) -->
<header class="header-search">
	<div class="header-limiter">
		<h1><a href="/" style="font-size:7vh;">Automatic Trivia Fact Extraction from Wikipedia</a></h1>
		<nav>
			<a href="https://github.com/qiancheng6/Automatic-Trivia-Fact-Extraction-from-Wikipedia"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
			<a href="game.html"><i class="fa fa-gamepad fa-3x" aria-hidden="true"></i></a>
		</nav>
	</div>
</header>